[Unit]
Description=Node Exporter
After=network-online.target

[Service]
User=root
Restart=on-failure
ExecStart=/root/node_exporter-1.9.1.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target

